/* Global styles */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #fafafa;
  color: #333;
}

* {
  box-sizing: border-box;
}
